/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 2rem auto;
}

form * {
  display: block;
  padding: 3px;
  margin: 0 auto;
  text-align: left;
  width: 300px;
}

button {
  text-align: center;
  padding: 7px;
  margin-top: 10px;
}

invalid {
  border: 1px solid red;
}

/* input:required {
  border: 1px solid black;
} */

valid {
  border: 1px solid green;
}
